﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="steps.aspx.cs" Inherits="MultiStepForm.steps" %>

<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
    <script src="Scripts/steps.js"></script>
    <link href="Content/steps.css" rel="stylesheet" />
    <link href="Content/TimeLine.css" rel="stylesheet" />
    <section class="form-box">
        <div class="container">

            <div class="row">
                <div class="col-sm-12 col-md-12  col-lg-12  form-wizard">

                    <!-- Form Wizard -->
                    <form role="form" action="" method="post">

                        <%--<h3>Sign Up Office Employee Account</h3>
                    		<p>Fill all form field to go next step</p>/
                        --%>
                        <!-- Form progress -->
                        <div class="form-wizard-steps form-wizard-tolal-steps-4">
                            <div class="form-wizard-progress">
                                <div class="form-wizard-progress-line" data-now-value="12.25" data-number-of-steps="4" style="width: 12.25%;"></div>
                            </div>
                            <!-- Step 1 -->
                            <div class="form-wizard-step active">
                                <div class="form-wizard-step-icon">1</div>

                                <p>الخطوة الأولى </p>
                            </div>
                            <!-- Step 1 -->

                            <!-- Step 2 -->
                            <div class="form-wizard-step">
                                <div class="form-wizard-step-icon">2</div>
                                <p>الخطوة الثانية</p>
                            </div>
                            <!-- Step 2 -->

                            <!-- Step 3 -->
                            <div class="form-wizard-step">
                                <div class="form-wizard-step-icon">3</div>
                                <p>الخطوة الثالثة</p>
                            </div>
                            <!-- Step 3 -->

                            <!-- Step 4 -->
                            <div class="form-wizard-step">
                                <div class="form-wizard-step-icon">4</div>
                                <p>الملخص</p>
                            </div>
                            <!-- Step 4 -->
                        </div>
                        <!-- Form progress -->


                        <!-- Form Step 1 -->
                        <fieldset>
                            <div class="row">
                                <div class="col-sm-6">
                                    <video class="video" width="400" height="350" src="media/WhatsApp Video 2019-12-02 at 3.07.33 PM.mp4" controls="controls" />
                                </div>


                                <div class="col-sm-6">

                                    <div class="box curl-top-right ">
                                        <p>This is Step 1 paragraph</p>
                                        <div class="d-flex divider-container justify-content-center p-2 text-center">
                                            <div class="divider-element bkcolor-fff"></div>
                                        </div>
                                        <div class="box-text">
                                            kdkdfpsdf:KF"'Kmvseilhfdbklzhfbzksdj;oghlghasdghzsgklfbask 
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="form-wizard-buttons">
                                <button type="button" class="btn btn-next">التالى</button>
                            </div>
                        </fieldset>
                        <!-- Form Step 1 -->

                        <!-- Form Step 2 -->
                        <fieldset>
                            <div class="row" style="display: flex; align-items: center;">
                                <div class="col-sm-6">
                                    <video class="video" width="320" height="240" src="media/WhatsApp Video 2019-12-02 at 3.07.19 PM.mp4" controls="controls" />
                                </div>
                                <div class="col-sm-6">

                                    <div class="box curl-top-right ">
                                        <p>This is Step 2 paragraph</p>
                                        <div class="d-flex divider-container justify-content-center p-2 text-center">
                                            <div class="divider-element bkcolor-fff"></div>
                                        </div>
                                        <div class="box-text">
                                            kdkdfpsdf:KF"'Kmvseilhfdbklzhfbzksdj;oghlghasdghzsgklfbask 
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="form-wizard-buttons">
                                <button type="button" class="btn btn-previous">السابق</button>
                                <button type="button" class="btn btn-next">التالى</button>
                            </div>

                        </fieldset>
                        <!-- Form Step 2 -->

                        <!-- Form Step 3 -->
                        <fieldset>
                            <div class="row" style="display: flex; align-items: center;">
                                <div class="col-sm-6">
                                    <video class="video" width="320" height="240" src="media/WhatsApp Video 2019-12-02 at 3.07.32 PM.mp4" controls="controls" />
                                </div>
                                  <div class="col-sm-6">
                            
                                    <div class="box curl-top-right ">
                                        <p>This is Step 3 paragraph</p>
                                      <div class="d-flex divider-container justify-content-center p-2 text-center"><div class="divider-element bkcolor-fff"></div></div>
                                        <div class="box-text">
                                           kdkdfpsdf:KF"'Kmvseilhfdbklzhfbzksdj;oghlghasdghzsgklfbask 
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="form-wizard-buttons">
                                <button type="button" class="btn btn-previous">السابق </button>
                                <button type="button" class="btn btn-next">إنهاء</button>
                            </div>
                        </fieldset>
                        <!-- Form Step 3 -->

                        <!-- Form Step 4 -->
                        <fieldset>

                            <div class="container">
                                <div class="page-header">
                                    <h1 id="timeline">Timeline</h1>
                                </div>
                                <ul class="timeline">
                                    <li>
                                        <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
                                        <div class="timeline-panel">
                                            <div class="timeline-heading">
                                                <h4 class="timeline-title">Mussum ipsum cacilds</h4>
                                                <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>11 hours ago via Twitter</small></p>
                                            </div>
                                            <div class="timeline-body">
                                                <p>
                                                    Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo.
            Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.
                                                </p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="timeline-inverted">
                                        <div class="timeline-badge warning"><i class="glyphicon glyphicon-credit-card"></i></div>
                                        <div class="timeline-panel">
                                            <div class="timeline-heading">
                                                <h4 class="timeline-title">Mussum ipsum cacilds</h4>
                                            </div>
                                            <div class="timeline-body">
                                                <p>
                                                    Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo.
            Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.
                                                </p>
                                                <p>
                                                    Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis, aguis e fermentis. Interagi no mé, cursus quis, vehicula ac nisi. Aenean vel dui dui. Nullam leo erat, aliquet quis tempus a, posuere ut mi. Ut scelerisque neque et turpis posuere
            pulvinar pellentesque nibh ullamcorper. Pharetra in mattis molestie, volutpat elementum justo. Aenean ut ante turpis. Pellentesque laoreet mé vel lectus scelerisque interdum cursus velit auctor. Lorem ipsum dolor sit amet, consectetur adipiscing
            elit. Etiam ac mauris lectus, non scelerisque augue. Aenean justo massa.
                                                </p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="timeline-badge danger"><i class="glyphicon glyphicon-credit-card"></i></div>
                                        <div class="timeline-panel">
                                            <div class="timeline-heading">
                                                <h4 class="timeline-title">Mussum ipsum cacilds</h4>
                                            </div>
                                            <div class="timeline-body">
                                                <p>
                                                    Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo.
            Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.
                                                </p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="timeline-inverted">
                                        <div class="timeline-panel">
                                            <div class="timeline-heading">
                                                <h4 class="timeline-title">Mussum ipsum cacilds</h4>
                                            </div>
                                            <div class="timeline-body">
                                                <p>
                                                    Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo.
            Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.
                                                </p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="timeline-badge info"><i class="glyphicon glyphicon-floppy-disk"></i></div>
                                        <div class="timeline-panel">
                                            <div class="timeline-heading">
                                                <h4 class="timeline-title">Mussum ipsum cacilds</h4>
                                            </div>
                                            <div class="timeline-body">
                                                <p>
                                                    Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo.
            Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.
                                                </p>
                                                <hr>
                                                <div class="btn-group">
                                                    <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
                                                        <i class="glyphicon glyphicon-cog"></i><span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu" role="menu">
                                                        <li><a href="#">Action</a></li>
                                                        <li><a href="#">Another action</a></li>
                                                        <li><a href="#">Something else here</a></li>
                                                        <li class="divider"></li>
                                                        <li><a href="#">Separated link</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="timeline-panel">
                                            <div class="timeline-heading">
                                                <h4 class="timeline-title">Mussum ipsum cacilds</h4>
                                            </div>
                                            <div class="timeline-body">
                                                <p>
                                                    Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo.
            Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.
                                                </p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="timeline-inverted">
                                        <div class="timeline-badge success"><i class="glyphicon glyphicon-thumbs-up"></i></div>
                                        <div class="timeline-panel">
                                            <div class="timeline-heading">
                                                <h4 class="timeline-title">Mussum ipsum cacilds</h4>
                                            </div>
                                            <div class="timeline-body">
                                                <p>
                                                    Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo.
            Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.
                                                </p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>


                            <div class="form-wizard-buttons">
                                <button type="button" class="btn btn-previous">السابق</button>

                            </div>
                        </fieldset>
                        <!-- Form Step 4 -->

                    </form>
                    <!-- Form Wizard -->
                </div>
            </div>

        </div>
    </section>

</asp:Content>
